* {
    font-family: sans-serif;
    margin: 0;

}

.main-container {
    background-color: #1f2937;
    margin-bottom: 20px;

}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.links ul {
    display: flex;
    gap: 40px;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-container {
    padding: 100px;
    display: flex;


}

img {
    width: 300px;
    margin-left: 50px;
}

.hero-container h1 {
    color: #F9FAF8;
    font-size: 48px;
    margin-bottom: 12px;
}

.hero-container p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 5px;
}

.hero-container button {
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-style: none;


}

.text-container {
    display: flex;
    flex-direction: column;
}

.content-part h3 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
}



.card-part {
    display: flex;
    justify-content: center;
    margin: 40px;
    gap: 30px;


}



.card {
    height: 150px;
    width: 150px;
    border: 3px solid rgb(24, 75, 117);
    border-radius: 20px;
    margin-bottom: 10px;

}

.quote {
    background-color: #E5E7EB;
    padding: 70px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
}

.order-1 {
    align-self: flex-end;
}